body
{
    background: #232323;
    color: #cdcdcd;
    font-family: "Century Gothic";
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}

.underLine
{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    font-weight: bold;
}


/* Stile per l'intera scrollbar */
::-webkit-scrollbar {
    width: 16px; /* Larghezza della scrollbar */
}

/* Stile per la parte di background della scrollbar */
::-webkit-scrollbar-track {
    background: #232323;
}

/* Stile per la thumb (la parte mobile) della scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px; /* Angoli arrotondati */
}

/* Stile per la thumb quando è in hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
