.contenuto{
  display: flex;
  justify-content: center; /* Centrare orizzontalmente */
  align-items: center;
}

.col-6 p, h3{
  text-align: center;
}


#titolo{
  text-align: center;
}

.immagine{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centrare orizzontalmente */
  align-items: center;

}

.immagine img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}
