.header {
    width: 100%;
    height: 50px; /* Altezza desiderata per l'header */
    background-color: #333; /* Colore di sfondo desiderato */
    color: #fff; /* Colore del testo desiderato */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Assicura che l'header sia sopra gli altri elementi */
    opacity: 0.9; /* Trasparenza dell'header */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a p:hover {
    font-weight: bold;
}

nav p {
    margin: 0;
}
