.contenitore{
    overflow: hidden;
    border-radius: 40px;
}

.contenitore img {
    max-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: transform 0.3s ease;    
}

img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#blocchi{
    text-align: center;
    align-items: center;
}

.bordo{
    border: 2px solid red; 
}

span{
    font-size: small;
}
