#blocchi{
    text-align: center;
    align-items: center;
}

span{
    font-size: small;
    background-color: lightgray;
    padding: 7px;
    border-radius: 10px;
    transition: 200ms;
}

span:hover{
    cursor: pointer;
    background-color: gray;
}

#chat{
    color: black;
}

.contenitore {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.5s ease; /* Assicura una transizione graduale */
}

.sfondo-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.contenitore:hover .sfondo-hover {
    opacity: 1;
}

.testo-nascosto {
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.button-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    filter: blur(0);
    transform: scale(1); /* Assicura che l'immagine sia alla dimensione originale */
    transition: filter 0.5s ease, transform 0.5s ease; /* Aggiungi transizione per la trasformazione */
}

.contenitore:hover img {
    filter: blur(5px);
    transform: scale(1.1); /* Aumenta lo zoom del 10% */
}

.contenitore:hover #testo{
    color: black;
    font-weight: bold;
}

.bg-blue {
    background-color: #2317ae; /* Azzurro chiaro */
}

.bg-lightyellow {
    background-color: #DBDAD2; /* Giallo chiaro */
}

.bg-blue .sfondo-hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

.bg-lightyellow .sfondo-hover {
    background: linear-gradient(to bottom, rgba(255, 255, 224, 0.8) 0%, rgba(255, 255, 224, 0.8) 100%);
}

#chatwave{
    background-image: url('/sitoweb/IMG/hyperlink.png');
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}