.contenitore {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.5s ease; /* Assicura una transizione graduale */
}

.contenitore2{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.5s ease; /* Assicura una transizione graduale */
}

.divInfo{   
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hidden{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.sfondo-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.contenitore:hover .sfondo-hover, .contenitore2:hover .sfondo-hover{
    opacity: 1;
}

.testo-nascosto {
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

img {

    width: 100%;
    height: 100%;
    object-fit: cover; /* Fa sì che l'immagine copra interamente il div */
    object-position: center; /* Centra l'immagine all'interno del div */
    position: absolute; /* Assicura che l'immagine sia posizionata correttamente nel div */
    top: 0;
    left: 0;

    filter: blur(0);
    transform: scale(1); /* Assicura che l'immagine sia alla dimensione originale */
    transition: filter 0.5s ease, transform 0.5s ease; /* Aggiungi transizione per la trasformazione */
}

#close{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    right: 0;
    top: 0;
}

#close img{
    width: 100%;
    height: 100%;   
    object-fit: cover; /* Fa sì che l'immagine copra interamente il div */
    object-position: center; /* Centra l'immagine all'interno del div */
    position: absolute; /* Assicura che l'immagine sia posizionata correttamente nel div */
    top: 0;
    left: 0;
}

#close img:hover{
    cursor: pointer;
}

.contenitore:hover img, .contenitore2:hover img{
    filter: blur(5px);
    transform: scale(1.1); /* Aumenta lo zoom del 10% */
}

.contenitore:hover .testo{
    font-weight: bold;
}

.contenitore:hover, .contenitore2:hover{
    cursor: pointer;
}

.bg-blue {
    background-color: #2317ae; /* Azzurro chiaro */
}

.bg-lightyellow {
    background-color: #DBDAD2; /* Giallo chiaro */
}

.bg-blue .sfondo-hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

.bg-lightyellow .sfondo-hover {
    background: linear-gradient(to bottom, rgba(255, 255, 224, 0.8) 0%, rgba(255, 255, 224, 0.8) 100%);
}